openapi: 3.0.3
info:
    title: Admas betting API
    description: API for betting.
    termsOfService: 'https://admas-betting.com/term'
    contact:
        name: AdmasBetting
        email: apiteam@swagger.io
    version: 1.0.0
servers:
    -   url: 'https://api.admas-betting.com/api/v1'
        description: Admas betting set API server
        variables:
            base path:
                default: v1
                description: 'This value is assigned by the service provider, in this example `v1`'
tags:
    -   name: Auth admas betting
        description: Everything about your auth betting
        externalDocs:
            description: Find out more
            url: 'https://admas-betting.com'
paths:
    /auth/login:
        post:
            tags:
                - Auths
            operationId: login
            requestBody:
                content:
                    application/x-www-form-urlencoded:
                        schema:
                            type: object
                            required:
                                - username
                                - password
                            properties:
                                username:
                                    type: string
                                password:
                                    type: string
                required: true
            responses:
                '200':
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Token'
    /auth/refresh:
        post:
            tags:
                - Auths
            operationId: refresh
            responses:
                '200':
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Token'
    /auth/current-user:
        get:
            tags:
                - Auths
            operationId: currentUser
            responses:
                '200':
                    description: successful operation
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UserDetail'
                '400':
                    description: Bad request
    /auth/change-password:
        post:
            tags:
                - Auths
            operationId: resetPassword
            requestBody:
                $ref: '#/components/requestBodies/ChangePassword'
                required: true
            responses:
                '200':
                    description: successful operation
                '400':
                    description: Bad request
    /auth/update-password:
        put:
            tags:
                - Auths
            operationId: updatePassword
            requestBody:
                content:
                    application/x-www-form-urlencoded:
                        schema:
                            type: object
                            required:
                                - username
                                - password
                                - new_password
                                - confirm_password
                            properties:
                                username:
                                    type: string
                                password:
                                    type: string
                                new_password:
                                    type: string
                                confirm_password:
                                    type: string
                required: true
            responses:
                '200':
                    description: successful operation
                '400':
                    description: Bad request
    /auth/send-verify:
        put:
            tags:
                - Auths
            operationId: sendVerify
            requestBody:
                content:
                    application/x-www-form-urlencoded:
                        schema:
                            type: object
                            required:
                                - username
                                - password
                            properties:
                                username:
                                    type: string
                                password:
                                    type: string
                required: true
            responses:
                '200':
                    description: successful operation
                '400':
                    description: Bad request
    /auth/send-verify-sms:
        put:
            tags:
                - Auths
            operationId: sendVerifySms
            requestBody:
                content:
                    application/x-www-form-urlencoded:
                        schema:
                            type: object
                            required:
                                - phone_number
                                - password
                            properties:
                                phone_number:
                                    type: string
                                password:
                                    type: string
                required: true
            responses:
                '200':
                    description: successful operation
                '400':
                    description: Bad request
    /auth/forgot-password:
        put:
            tags:
                - Auths
            operationId: forgotPassword
            parameters:
                -   $ref: '#/components/parameters/Email'
            responses:
                '200':
                    description: successful operation
                '400':
                    description: Bad request

components:
    parameters:
        Identifier:
            name: id
            in: path
            required: true
            schema:
                type: string
        BranchId:
            name: branch-id
            in: query
            required: false
            schema:
                type: string
        CurrencyIdentifier:
            name: currency_id
            in: query
            required: false
            schema:
                type: string
        Command:
            name: command
            in: query
            required: true
            schema:
                type: string
                description: 'activate, deactivate and set default.'
        StatusCommand:
            name: status
            in: query
            required: true
            schema:
                type: boolean
        CustomerId:
            name: customer-id
            in: query
            required: false
            schema:
                type: string
                description: customer id
        TypeStringCommand:
            name: types
            in: query
            required: false
            schema:
                type: string
                description: comma separated types
        Email:
            name: email
            in: query
            required: true
            schema:
                type: string
                description: admasbetting@gmail.com
        StatusStringCommand:
            name: status
            in: query
            required: false
            schema:
                type: string
                description: comma separated status
        Description:
            name: description
            in: query
            required: false
            schema:
                type: string
        Page:
            name: page
            in: query
            required: false
            schema:
                type: integer
        Limit:
            name: limit
            in: query
            required: false
            schema:
                type: integer
        TransactionLimit:
            name: txn-limit
            in: query
            required: false
            schema:
                type: integer
        SortDir:
            name: sort_dir
            in: query
            description: Sort direction
            required: false
            schema:
                type: string
                default: desc
                enum:
                    - asc
                    - desc
        SortBy:
            name: sort_by
            in: query
            description: Sort By
            required: false
            schema:
                type: string
        SearchTerm:
            name: search_term
            in: query
            required: false
            schema:
                type: string
        From:
            name: from
            in: query
            required: false
            schema:
                type: string
                format: date
        To:
            name: to
            in: query
            required: false
            schema:
                type: string
                format: date
    schemas:
        Token:
            properties:
                token_type:
                    type: string
                scope:
                    type: string
                expires_in:
                    type: number
                    format: int64
                ext_expires_in:
                    type: number
                    format: int64
                expires_on:
                    type: number
                    format: int64
                not_before:
                    type: number
                    format: int64
                resource:
                    type: string
                access_token:
                    type: string
                refresh_token:
                    type: string
                id_token:
                    type: string
                session_state:
                    type: string
                refresh_expires_in:
                    type: string
        UserDetail:
            properties:
                id:
                    type: string
                first_name:
                    type: string
                last_name:
                    type: string
                username:
                    type: string
                email:
                    type: string

        ErrorResponse:
            type: object
            required:
                - code
            properties:
                code:
                    type: string
                    description: Error code.
                    example: INVALID_TOKEN
                message:
                    type: string
                    description: Error message.

    requestBodies:
        CreateUser:
            description: Lab request
            content:
                application/json:
                    schema:
                        type: object
                        properties:
                            password:
                                type: string
                            confirm_password:
                                type: string
                            first_name:
                                type: string
                            last_name:
                                type: string
                            email:
                                type: string
        ChangePassword:
            description: Change password request
            content:
                application/json:
                    schema:
                        type: object
                        properties:
                            old_password:
                                type: string
                            new_password:
                                type: string
                            confirm_password:
                                type: string
